absl-py==2.3.1
accelerate==0.21.0
aiofiles==23.2.1
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
altair==5.3.0
annotated-types==0.7.0
anyio==4.5.2
appdirs==1.4.4
argcomplete==3.3.0
array_record==0.8.1
asttokens==2.4.1
astunparse==1.6.3
async-timeout==5.0.1
attrs==23.2.0
backcall==0.2.0
bddl==3.6.0
beautifulsoup4==4.12.3
bitsandbytes==0.48.0
bleach==6.1.0
cachetools==5.5.2
catkin-pkg==1.0.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.1.8
cloudpickle==3.0.0
cmake==3.29.2
colorama==0.4.6
contourpy==1.1.1
cycler==0.12.1
debugpy==1.8.16
decorator==5.1.1
deepspeed==0.18.1
defusedxml==0.7.1
diffusers==0.27.2
distro==1.9.0
dm-control==1.0.14
dm-env==1.6
dm-tree==0.1.8
docker-pycreds==0.4.0
docopt==0.6.2
docstring_parser==0.17.0
docutils==0.20.1
draccus==0.11.5
easydict==1.13
egl_probe==1.0.2
einops==0.6.1
einops-exts==0.0.4
et_xmlfile==2.0.0
etils==1.13.0
evdev==1.7.0
exceptiongroup==1.2.2
executing==2.0.1
Farama-Notifications==0.0.4
fastapi==0.115.0
fastjsonschema==2.20.0
ffmpy==0.3.2
filelock==3.16.1
flatbuffers==25.2.10
fonttools==4.51.0
frozenlist==1.5.0
fsspec==2025.2.0
future==1.0.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
glfw==2.7.0
google-auth==2.40.3
google-auth-oauthlib==1.2.2
google-pasta==0.2.0
gradio==3.35.2
gradio_client==0.2.9
grpcio==1.74.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.2.3
h11==0.14.0
h5py==3.14.0
hjson==3.1.0
httpcore==0.17.3
httpx==0.24.0
huggingface-hub==0.23.5
idna==3.10
imageio==2.34.1
imageio-ffmpeg==0.4.9
immutabledict==4.2.2
importlib_metadata==8.5.0
importlib_resources==6.4.5
iniconfig==2.1.0
ipython==8.12.3
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
jupytext==1.17.2
keras==2.15.0
kiwisolver==1.4.5
labmaze==1.0.6
Levenshtein==0.27.3
libclang==18.1.1
linkify-it-py==2.0.3
lit==18.1.3
-e git+https://github.com/ciccio42/TinyVLA.git@9e5b1b29b6d17422bf57a0208b33b014ca22aa04#egg=llava_pythia&subdirectory=llava-pythia
llvmlite==0.41.1
lxml==5.2.1
Markdown==3.8.2
markdown-it-py==2.2.0
markdown2==2.4.13
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdit-py-plugins==0.3.3
mdurl==0.1.2
mergedeep==1.3.4
mistune==3.0.2
ml-dtypes==0.2.0
mpmath==1.3.0
msgpack==1.1.2
mujoco==2.3.7
multidict==6.1.0
mypy_extensions==1.1.0
namex==0.1.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
networkx==3.1
ninja==1.11.1.1
nltk==3.9.1
numba==0.58.1
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.8.3.14
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.8.57
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.8.61
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.8.57
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==9.7.1.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.3.3.41
nvidia-cufile-cu12==1.13.0.11
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.9.55
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.7.2.55
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.5.7.53
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.8.61
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.8.55
oauthlib==3.3.1
opencv-python==4.6.0.66
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.17.0
orjson==3.10.1
packaging==25.0
pandas==2.0.3
pandocfilters==1.5.1
parso==0.8.4
peft==0.4.0
pettingzoo==1.25.0
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.3.0
pip @ file:///home/conda/feedstock_root/build_artifacts/pip_1753924886980/work
pipreqs==0.5.0
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
pluggy==1.6.0
-e git+https://github.com/ciccio42/TinyVLA.git@9e5b1b29b6d17422bf57a0208b33b014ca22aa04#egg=policy_heads&subdirectory=policy_heads
promise==2.3
prompt_toolkit==3.0.47
propcache==0.2.0
protobuf==4.25.3
psutil==6.1.1
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==23.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.10.5
pydantic_core==2.27.2
pydub==0.25.1
Pygments==2.17.2
pynput==1.7.6
PyOpenGL==3.1.7
pyparsing==3.1.4
pyquaternion==0.9.9
pytest==8.4.1
python-dateutil==2.9.0.post0
python-multipart==0.0.9
python-xlib==0.33
pytz==2024.1
PyYAML==6.0.1
pyyaml-include==1.4.1
pyzmq==26.2.0
RapidFuzz==3.14.3
referencing==0.34.0
regex==2024.4.16
requests==2.32.5
requests-oauthlib==2.0.0
rich==14.1.0
robosuite==1.4.1
rospkg==1.5.1
rpds-py==0.18.0
rsa==4.9.1
safetensors==0.4.3
scikit-learn==1.2.2
scipy==1.10.1
semantic-version==2.10.0
sentencepiece==0.1.99
sentry-sdk==1.45.0
setproctitle==1.3.3
setuptools==70.0.0
shortuuid==1.0.13
simple-parsing==0.1.8
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.6
stack-data==0.6.3
starlette==0.37.2
svgwrite==1.4.3
sympy==1.13.3
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-datasets==4.9.9
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.17.3
termcolor==3.1.0
threadpoolctl==3.4.0
tianshou==0.5.1
timm==0.6.13
tinycss2==1.3.0
tokenizers==0.15.0
toml==0.10.2
tomli==2.2.1
toolz==0.12.1
torch==2.7.0+cu128
torchaudio==2.7.0+cu128
torchvision==0.22.0+cu128
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.37.1
triton==3.3.0
typing-inspect==0.9.0
typing_extensions==4.14.1
tzdata==2025.1
uc-micro-py==1.0.3
urllib3==2.5.0
uvicorn==0.29.0
wandb==0.16.6
wavedrom==2.0.3.post3
wcwidth==0.2.13
webencodings==0.5.1
websockets==13.1
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.14.2
yarg==0.1.9
yarl==1.15.2
zipp==3.20.2
